* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  margin: 0;
  background: #fff;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* IMAGE SIDE */

.image-side {
  flex: 1;
  background: url("login-image.png") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 40px;
}

.quote {
  color: white;
  max-width: 400px;
}

.quote p {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}

.quote span {
  opacity: 0.85;
  font-size: 14px;
}

/* FORM SIDE */

.form-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 100%;
  max-width: 420px;
  padding: 40px;
}

.logo {
  font-weight: 700;
  color: #2f9e8f;
  font-size: 22px;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 28px;
}

p {
  color: #6b7280;
  margin-bottom: 25px;
}

label {
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
  margin-top: 14px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
}

input:focus {
  outline: none;
  border-color: #2f9e8f;
}

.password-box {
  position: relative;
}

.password-box span {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.6;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  font-size: 14px;
}

.options a {
  color: #2f9e8f;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  background: #2f9e8f;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background: #27897c;
}

.divider {
  text-align: center;
  margin: 24px 0;
  color: #9ca3af;
  font-size: 13px;
}

.google-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  font-weight: 500;
}

.register {
  text-align: center;
  margin-top: 18px;
  font-size: 14px;
}

.register a {
  color: #2f9e8f;
  text-decoration: none;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .image-side {
    height: 300px;
  }
}

.error-message {
  background-color: #fee2e2;
  /* rojo suave */
  color: #b91c1c;
  /* rojo intenso para el texto */
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}