<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ url_for('static', filename='stylesUser.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<title>PetTracker</title>
</head>

<body>

<header>
<h1>Panel de mascotas perdidas</h1>
<form action="{{ url_for('logout') }}">
<button class="btn-logout">Cerrar sesión</button>
</form>
</header>

<main>

<section class="upload-section">
<h2>Subir mascota perdida</h2>

<form id="upload-form">
<div class="upload-box" id="upload-box">
<input type="file" id="pet-photo" name="imagen" hidden>
<p>Arrastra o haz clic para seleccionar</p>
</div>
<button type="submit" id="analyze-btn" disabled>
    Analizar con IA
</button></form>
</section>

<section class="map-section">

<h2>Mapa</h2>

<div id="map"></div>

<div class="legend">
<div class="legend-item">
<span class="legend-color legend-blue"></span>
Tu mascota
</div>
<div class="legend-item">
<span class="legend-color legend-red"></span>
Protectora
</div>
</div>

<div class="distance-filter">
<button data-km="5">5 km</button>
<button data-km="10">10 km</button>
<button data-km="20">20 km</button>
<button data-km="50" class="active">50 km</button>
</div>

</section>

<section class="tips-section">
<h2>Consejos</h2>
<ul>
<li>Foto clara</li>
<li>Sin filtros</li>
<li>Información exacta</li>
</ul>
</section>

</main>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>